.header{
    padding-left: 150px;
    padding-right: 150px;
}

.content-container{
    margin: 40px 150px;
}

.news-item{
    margin-top: 50px;
    border: #17a2b8 solid 1px;
    border-radius: 5px;
    padding: 25px;
}

.news-title{
    font-size: 30px;
    margin-bottom: 5px;
}
.news-pub_date{
    font-size: 12px;
}
.news-author{
    font-size: 14px;
}

.news-text{
    margin-top: 5px;
    margin-bottom: 5px;
}

.back-arrow{
   margin-bottom: 25px;
}

.comment-block{
    margin-top: 30px;
    margin-right: 40px;
    margin-left: 40px;
}

.comment-block-title{
    font-size: 27px;
}

.comment-item{
    margin-top: 25px;
}

.comment-author{
    font-size: 20px;
}

.comment-date-created{
    font-size: 12px;
}
.comment-text{
    text-align: left;
    border-left: #17a2b8 solid 1px;
}

.info-text{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #17a2b8;
}

.add-comment-block{
    margin-top: 30px;
}

.input-comment{
    display: inline-block;
}

.page-title{
    font-size: 30px;
    margin-bottom: 50px;
}

.error-message{
    color: red;
}