{% extends "myuser/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-container">
        <div class="page-title">Создать новость</div>
        <form action="{% url 'user-log-in' %}" method="post">
            {% csrf_token %}
            <div class="error-message">{{ form.non_field_errors }}</div>
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field|as_crispy_field }}
                </div>
            {% endfor %}
            <input type="submit" class="btn btn-info" value="Войти">
        </form>
        <a href="{% url 'user-sign-up' %}">Зарегистрироваться</a>
    </div>
{% endblock %}